:root {
  --color_background: rgb(227, 226, 226);
  --li_footer_bg_color: rgb(241, 249, 228);
  --title_bg_color: rgb(189, 208, 81);
  --nav_bg_color: rgb(72, 72, 3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos base (mobile first) */

body {
  display: flex;
  flex-direction: column;

  height: 100vh;
  min-width: 320px;
}
.page-title {
  padding: 10px;
  height: 60px;
  color: white;
  font-size: 30px;
  align-content: center;

  background-color: var(--title_bg_color);
}
input,
.toolbar > div,
.menu-title {
  display: none;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;

  margin: 0;
  padding: 0;
}

li {
  margin: 5px;
  height: 40px;
  width: 80px;
  text-align: center;
  padding: 10px; /*TODO : esta alineacion vertical con padding?*/
  border: 1px solid;
  background-color: var(--li_footer_bg_color);
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgb(72, 72, 3);
}

main,
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--color_background);
}

.list {
  gap: 10px;
  padding: 20px 0px;
  width: 100%;
}

.card.item {
  border-radius: 2%;
  padding: 15px;
  width: 90%;
  height: 160px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

img {
  border-radius: 50%;
  margin-bottom: 5px;
  max-width: 100%;
  height: auto;
  display: block;
}

footer {
  height: 40px;
  background-color: var(--li_footer_bg_color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  padding: 10px;
}

/* Estilos para pantallas más grandes (desktop/tablet) */
@media screen and (min-width: 768px) {
  html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
  }

  body {
    min-height: 100dvh;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 10px;
  }
  input,
  .toolbar > div {
    display: block;
  }

  .page-title {
    padding: 10px;
    height: 60px;
    color: white;
    font-size: 30px;
    align-content: center;
  }

  .page-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: fit-content;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: var(--nav_bg_color);
    width: 200px;
    height: 100%;
  }
  .menu-container {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .menu-title {
    display: block;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    align-content: center;
  }

  main {
    flex: 1;
    justify-content: flex-start;
    padding: 25px;
    min-height: fit-content;
    margin-top: 0;
  }

  ul {
    flex-direction: column;
    justify-content: left;
  }
  li {
    width: auto;
    margin: 0;
  }

  .list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }

  .card.item {
    width: 240px;
    border: 1px solid grey;
  }
}
