@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: solid 1px red;
}

/* Estilos base (mobile first) */

body {
  font-family: "Jost", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #141414;
  font-family: "Jost", sans-serif;
  color: white;
  margin: 15px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons div {
  padding: 5 15px;
  margin: 1px;
}
.header-buttons div:hover {
  background-color: azure;
  color: #141414;
  border-radius: 10%;
}

.header-logo {
  display: flex;
  align-items: center;
}

.platform-title,
.top-item4,
.top-item5 {
  display: none;
}
main {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  gap: 1rem;
}

.first,
.second {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  gap: 5px;
  justify-content: center;
}
.first img,
.second img {
  min-width: 250px;
  height: auto;
  object-fit: scale-down;
  display: block;
  border-radius: 8px;
}

/* Estilos para pantallas más grandes (desktop/tablet) */

@media screen and (min-width: 1280px) {
  .platform-title,
  .top-item4,
  .top-item5 {
    display: block;
  }

  .platform-title {
    padding-left: 10px;
  }
  .top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: center;
  }

  .top img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
    display: block;
    border-radius: 8px;
  }

  .first,
  .second {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    justify-content: center;
  }

  .first img,
  .second img {
    min-width: 250px;
    width: 100%;
    height: auto;

    border-radius: 8px;
  }
}
